table {
    text-align: center;
    margin: 0 auto;
}
td {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
button {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: cornflowerblue;
}
span {
    font-size: 30px;
}
